:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-white: #ffffff;
  --color-modal-overlay: #2e2f42;
  --font-main: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --container-width: 1158px;
  --indent: 24px;
  --items: 4;
}

body {
  font-family: var(--font-main);
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-white);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-dark);
  margin-bottom: 72px;
}

.link {
  display: inline-block;
}
