.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: var(--indent);
}

.features-item {
  width: calc((100% - 3 * var(--indent)) / 4);
}

.features-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid var(--color-subtle-text);
  border-radius: 4px;
  background-color: var(--color-light);
}

.features-icon {
  width: 64px;
  height: 64px;
}

.features-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-dark);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}
