.footer {
  padding: 100px 0;
  background-color: var(--color-dark);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--color-light);
}

.footer-logo-accent {
  color: var(--color-success);
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-accent);
}
