/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-hero-background);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-accent);
}
