/* ==========================================================================
   Portfolio
   ========================================================================== */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms ease;
}

.portfolio-item:hover,
.portfolio-item:focus-within {
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-item-content {
  padding: 32px 16px;
  border: 1px solid var(--color-accent);
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-dark);
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}
