.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: var(--indent);
}

.portfolio-card {
  width: calc((100% - 2 * var(--indent)) / 3);
  border: 1px solid var(--color-accent);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
              0 1px 1px rgba(46, 47, 66, 0.16),
              0 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-photo {
  width: 100%;
  height: auto;
}

.portfolio-card-content {
  padding: 32px 16px;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-dark);
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}
